node_modules
.env
.DS_Store
.vscode
npm-debug.log
yarn-error.log
dist
coverage
uploads
*.local.js
*.test.js
.idea
*.iml
*.log
.env.local
.env.development
.env.test
.env.production
.cache
.next
out
build
logs
*.log
pids
*.pid